<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yyn.yiju.dao.HouseDao">

    <!--   全部查询房源信息   -->
    <select id="findFourHouse" parameterType="java.lang.Integer" resultType="cn.yyn.yiju.pojo.HouseView">
        select *
        from tb_house as a, tb_house_info as b where a.house_id=b.house_id and a.is_delete=0 and
        a.house_type=#{houseType} order by rand() limit 4

    </select>


    <select id="findAllHouseByType" parameterType="java.lang.Integer" resultType="cn.yyn.yiju.pojo.HouseView">
        select *
        from tb_house as a, tb_house_info as b where a.house_id=b.house_id and a.is_delete=0 and
        a.house_type=#{houseType}

    </select>

    <select id="findHouseById" parameterType="java.lang.Integer" resultType="cn.yyn.yiju.pojo.HouseView">
        select *
        from tb_house as a, tb_house_info as b where a.house_id=b.house_id and a.is_delete=0 and
        a.house_id=#{houseId}
    </select>

    <!-- 增加房源 -->
    <insert id="saveHousePost1" parameterType="cn.yyn.yiju.bean.House" useGeneratedKeys="true" keyProperty="houseId">
        insert into tb_house(user_id,house_title,house_address,house_price,price_unit,house_headimg,house_planimg1,house_planimg2,house_img1,house_img2,house_img3,house_img4,house_img5,house_img6,create_time,update_time)
        values (#{userId},#{houseTitle},#{houseAddress},#{housePrice},#{priceUnit},#{houseHeadimg},#{housePlanimg1},#{housePlanimg2},#{houseImg1},#{houseImg2},#{houseImg3},#{houseImg4},#{houseImg5},#{houseImg6},#{createTime},#{updateTime})
    </insert>

    <!-- 增加房源 第二页 -->
    <insert id="saveHousePost2" parameterType="cn.yyn.yiju.bean.HouseInfo" useGeneratedKeys="true" keyProperty="infoId">
         insert into tb_house_info(house_id, house_nature, house_model, house_year, house_valid, house_layout,
         house_area, house_turn, house_floor, floor_all, house_decorate, house_lift, create_time, update_time)
        values (#{houseId}, #{houseNature}, #{houseModel}, #{houseYear}, #{houseValid}, #{houseLayout},
        #{houseArea}, #{houseTurn}, #{houseFloor}, #{floorAll}, #{houseDecorate}, #{houseLift}, #{createTime}, #{updateTime})
    </insert>

    <insert id="saveHousePost3" parameterType="cn.yyn.yiju.bean.HouseInter" useGeneratedKeys="true" keyProperty="interId">
        insert into tb_house_inter(house_id, bed, washing, air, balcony, ice, toilet, kitchen, tv, heater, wardrobe, heating, internet, sofa, create_time, update_time)
        values (#{houseId}, #{bed}, #{washing}, #{air}, #{balcony}, #{ice}, #{toilet}, #{kitchen}, #{tv}, #{heater}, #{wardrobe}, #{heating}, #{internet}, #{sofa}, #{createTime}, #{updateTime})
    </insert>
</mapper>