<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yyn.yiju.dao.HouseDao">

    <!--   全部查询房源信息   -->
    <select id="findFourHouse" parameterType="java.lang.Integer" resultType="cn.yyn.yiju.pojo.HouseView">
        select *
        from tb_house as a, tb_house_info as b where a.house_id=b.house_id and a.is_delete=0 and
        a.house_type=#{houseType} order by rand() limit 4

    </select>


    <select id="findAllHouseByType" parameterType="java.lang.Integer" resultType="cn.yyn.yiju.pojo.HouseView">
        select *
        from tb_house as a, tb_house_info as b where a.house_id=b.house_id and a.is_delete=0 and
        a.house_type=#{houseType}

    </select>

    <select id="findHouseById" parameterType="java.lang.Integer" resultType="cn.yyn.yiju.pojo.HouseView">
        select *
        from tb_house as a, tb_house_info as b where a.house_id=b.house_id and a.is_delete=0 and
        a.house_id=#{houseId}
    </select>

    <!-- 增加房源 -->
    <insert id="saveHouse" parameterType="cn.yyn.yiju.bean.House">
        insert into tb_house(user_id,house_type,house_title,house_headimg,house_planimg1,house_planimg2,house_img1,house_img2,house_img3,house_img4,house_img5,house_img6,house_price,price_unit,house_address,create_time,update_time)
        values (#{userId},#{house_type},#{houseTitle},#{houseHeadimg},#{housePlanimg1},#{housePlanimg2},#{houseImg1},#{houseImg2},#{houseImg3},#{houseImg4},#{houseImg5},#{houseImg6},#{housePrice}, #{priceUnit}, #{houseAddress}, #{createTime}, #{updateTime})
    </insert>

    <!-- 增加房源 第二页 -->
    <insert id="saveHouseInfo" parameterType="cn.yyn.yiju.bean.HouseInfo">
        insert into tb_house_info(house_id,house_nature,house_model,house_year,house_valid,house_layout,house_area,house_turn,house_floor,floor_all,house_decorate,house_lift,create_time,update_time)
        values (#{houseId},#{houseNature},#{houseModel},#{houseYear},#{houseValid},#{houseLayout},#{houseArea},#{houseTurn},#{houseFloor},#{floorAll},#{houseDecorate},#{houseLift}, #{createTime}, #{updateTime})
    </insert>

</mapper>